---
import "./src/styles/global.css";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/dyno_static.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="dark:bg-black-200 bg-teal-100">
    <slot />
  </body>
</html>

<script is:inline>
  function initializeTheme() {
    const savedTheme = localStorage.getItem("theme");
    const prefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)",
    ).matches;
    const initialTheme = savedTheme || (prefersDark ? "dark" : "light");

    document.documentElement.dataset.theme = initialTheme;
    return initialTheme;
  }

  initializeTheme();
</script>
